/* Carrinho */
.cart-container {
    display: grid;
    max-width: var(--max-header-width);
    grid-template-columns: 1fr 350px;
    gap: 20px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Blocos de Filtro e Itens */
.cart-filter {
    display: flex;
    gap: 20px;
    margin-bottom: 0.5rem;
    padding: 15px 25px;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: var(--ft-menu);
}

/* Card do Item Individual */
.item-img {
    width: 120px;
    height: 120px;
    background: var(--cl-light-bg);
    border-radius: 15px;
    padding: 10px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-info { flex: 1; }
.item-info h3 { font-size: 1.1rem; margin-bottom: 5px; }
.variation-name { color: var(--cl-blue); font-size: 0.9rem; }

.item-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.stock-info { font-size: 0.8rem; color: #888; margin-top: 1.2rem;}

/* Preços e Ações no Card */
.item-price-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    min-width: 120px;
}

.price-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.price-display .old-price{
    color: var(--cl-green);
    font-size: 0.8rem;
    font-weight: 300;
}

.price-display .current-price {
    color: var(--cl-green);
    font-size: 1rem;
    font-weight: 600;
}