.detail-wrapper {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.product-detail-grid {
    display: grid;
    width: 100%;
    max-width: 1200px;
    gap: 5px;
    grid-template-areas: 
        "title          title          gallery"
        "short-desc     short-desc     gallery"
        "variations     stock          gallery"
        "full-desc      full-desc      full-desc";
    grid-template-columns: 1fr 1fr 1.3fr;
}

/* Definição das Áreas Principais - Product Detail */
    .title-block { grid-area: title; display: flex; align-items: center; justify-content: center; }
    .short-desc-block { grid-area: short-desc; }
    .variations-block { grid-area: variations; display: flex; flex-direction: column; justify-content: center; text-align: center;}
    .stock-block { grid-area: stock; display: flex; flex-direction: column; justify-content: center; text-align: center; }

        /* Definição das áreas dentro de gallery-main-block */
            .gallery-main-block { grid-area: gallery; display: flex; gap: 5px; }
            .gallery-info-action-grid {
                display: grid;
                gap: 15px;
                grid-template-areas: 
                    "thumbnails featured featured"
                    "buy-btn add-btn prices";
                grid-template-columns: 1fr 1fr 1.3fr;
            }
            .side-thumbnails-wrapper { grid-area: thumbnails; display: flex; flex-direction: column; }
            .featured-wrapper { grid-area: featured; display: flex; align-items: center; justify-content: center; }
            .prices-block { grid-area: prices; display: flex; flex-direction: column; align-items: center; justify-content: center; }
            .action-block { grid-area: buy-btn;}
            .action-block:last-child { grid-area: add-btn;}
        /* Fim - Definição das áreas dentro de gallery-main-block */

    .full-desc-block { grid-area: full-desc; }
/* fim - Definição das Áreas Principais */

.title-block h1 {
    color: var(--cl-ff-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.product-detail-grid .content {
    color: var(--cl-ff-text);
    font-weight: 300;
    font-size: 0.95rem;
    line-height: 1.5;
}

.variation-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.label {
    font-size: 0.9rem;
    color: var(--cl-ff-title);
    font-weight: 400;
}

.short-desc-block .label {
    font-size: 1.2rem;
    color: var(--cl-ff-title);
    font-weight: 400;
}

.full-desc-block .label {
    font-size: 1.2rem;
    color: var(--cl-ff-title);
    font-weight: 400;
}

.v-item {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    padding: 5px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.v-item.active {
    border-color: var(--cl-blue);
}

.v-item:hover {
    opacity: 0.8;
    border-color: var(--cl-green);
}

.stock-block p {
    margin: 2px 0;
    font-size: 0.9rem;
    line-height: 1;
}

/* Seletor de unidades em estoque */
.stock-act {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-act p {
    margin-top: 1rem;
    padding-right: 0.5rem;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-light-bg);
    border-radius: 50px;
    padding: 5px;
    margin-top: 15px;
    width: fit-content;
    align-self: center;
}

.t-item {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    padding: 5px;
    object-fit: contain;
    cursor: pointer;
}

.t-item.active {
    border: 2px solid var(--cl-blue);
}

.featured-image {
    flex: 1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-image img { max-width: 100%; height: auto; }

.prices-block { background-color: var(--cl-blue-light); border-radius: 5px; padding: 8px; }

.old-price { text-decoration: line-through; color: var(--cl-green); font-size: 1.5rem; }
.current-price { color: var(--cl-green); font-size: 2rem; font-weight: 700; }

.text-blue { color: var(--cl-blue); }
.text-red { color: var(--cl-red); }