{% extends 'static/base.html' %}
{% load product_filters %}
{% load static %}

{% block content %}
<main class="order-summary-container">
    <div class="order-main">
        <section class="summary-card"><!-- Address Block -->
            <h3>Endereço Para Entregar</h3>
            <table class="zebra-table">
                <tbody>
                    <tr><td>Avenida Américo Vespúcio Vila Euler 2771</td></tr>
                    <tr><td>Resort Fazenda, Casa 80</td></tr>
                    <tr><td>Curitiba, PR, BR - 83305-000</td></tr>
                </tbody>
            </table>
        </section>

        <section class="summary-card"><!-- Order Block -->
            <h3>Seu Pedido</h3>
            <table class="zebra-table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nome do Produto e Variação</td>
                        <td>1</td>
                        <td>R$ 10,00</td>
                        <td>R$ 10,00</td>
                    </tr>
                    <tr>
                        <td>Nome do Produto e Variação</td>
                        <td>2</td>
                        <td>R$ 10,00</td>
                        <td>R$ 20,00</td>
                    </tr>
                    <tr>
                        <td>Nome do Produto e Variação</td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td>R$ 30,00</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <aside class="cart-summary-sidebar">
        <section class="block order-summary">
                <h2>Resumo da Compra</h2>
                
                {% include 'product/partial/_summary-details.html' %}

                <button class="btn-primary finish-order-btn">
                    Finalizar
                </button>
            </section>

            <div class="block btn-back">
                <a href="{% url 'product:cart_detail' %}" class="block btn-back-link">
                    Voltar ao Carrinho
                </a>
            </div>
        </section>
    </aside>
    
</main>
{% endblock %}