{% extends 'static/base.html' %}
{% load product_filters %}
{% load static %}

{% block content %}
<main class="order-summary-container">
    <div class="order-main">
        <section class="summary-card"><!-- Address Block -->
            <h3>Endereço Para Entregar</h3>
            <table class="zebra-table">
                <tbody>
                    <tr><td>{{ address.street }} {{ address.neighborhood }} {{ address.number }}</td></tr>
                    <tr><td>{{ address.complement }}</td></tr>
                    <tr><td>{{ address.city }}, {{ address.state }}, {{ address.country }} - {{ address.zip_code }}</td></tr>
                </tbody>
            </table>
        </section>

        <section class="summary-card"><!-- Order Block -->
            <h3>Seu Pedido</h3>
            <table class="zebra-table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.variation.product.name|truncatechars:15 }} - {{ item.variation.name|truncatechars:15 }}</td>
                        <td>{{ item.quantity }}</td>

                        {% with var=item.variation %}
                            {% if var.promotional_price > 0 and var.promotional_price < var.price %}
                                <td>{{ var.promotional_price|price_filter }}</td>
                            {% else %}
                                <td>{{ var.price|price_filter }}</td>
                            {% endif %}
                        {% endwith %}

                        <td>{{ item.total_price|price_filter }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    <aside class="cart-summary-sidebar">
        <section class="block order-summary">
                <h2>Resumo da Compra</h2>
                
                {% include 'product/partial/_summary-details.html' %}

                <button class="btn-primary finish-order-btn">
                    Finalizar
                </button>
            </section>

            <div class="block btn-back">
                <a href="{% url 'product:cart_detail' %}" class="block btn-back-link">
                    Voltar ao Carrinho
                </a>
            </div>
        </section>
    </aside>
    
</main>
{% endblock %}