{% extends 'static/base.html' %}
{% load product_filters %}
{% load static %}

{% block content %}
<div class="detail-wrapper">
    <main class="product-detail-grid">
        <section class="block title-block">
            <h1>{{ product.name }}</h1>
        </section>

        <section class="block short-desc-block">
            <span class="label">Descrição</span>
            <div class="content">
                {{ product.short_description|linebreaks }}
            </div>
        </section>

        <section class="block variations-block">
            <span class="label">Variação: <strong id="var-name-display">{{ product.get_main_variation.name }}</strong></span>
            <div class="variation-list">
                {% for variation in product.variations.all %}
                    <img src="{{ product.cover_image.url }}"
                    class="v-item {% if forloop.first %}active{% endif %}"
                    data-name="{{ variation.name|default:'Padrão' }}"
                    data-price="{{ variation.price|price_filter }}"
                    data-promo="{{ variation.promotional_price|price_filter }}"
                    data-has-promo="{% if variation.promotional_price > 0 %}true{% else %}false{% endif %}"
                    data-stock="{{ variation.stock }}">
                {% endfor %}
            </div>
        </section>

        <section class="block stock-block">
            <p>Estoque: <strong class="text-blue" id="display-availability">Disponível</strong></p>
            <p>Quantidade: <strong id="display-stock">{{ product.get_main_variation.stock }}</strong> <strong> Un.</strong></p>
        </section>

        <section class="block gallery-main-block">
            <div class="gallery-info-action-grid">

                <div class="side-thumbnails-wrapper">
                    <div class="side-thumbnails">
                        <img src="{{ product.cover_image.url }}" class="t-item active">
                        <img src="{{ product.cover_image.url }}" class="t-item">
                        <img src="{{ product.cover_image.url }}" class="t-item">
                        <img src="{{ product.cover_image.url }}" class="t-item">
                    </div>
                </div>

                <div class="featured-wrapper">
                    <div class="featured-image">
                        <img src="{{ product.cover_image.url }}" alt="{{ product.name }}">
                    </div>
                </div>

                <div class="prices-block" id="price-container">
                    {% with main_var=product.get_main_variation %}
                        {% if main_var %}
                            {% if main_var.promotional_price > 0 and main_var.promotional_price < main_var.price %}
                                <span class="price-current" id="display-price-current">
                                    {{ main_var.promotional_price|price_filter }}
                                </span>
                                <span class="price-old" id="display-price-old" style="display: inline-block;">
                                    {{ main_var.price|price_filter }}
                                </span>
                            {% else %}
                                <span class="price-current" id="display-price-current">
                                    {{ main_var.price|price_filter }}
                                </span>
                                <span class="price-old" id="display-price-old" style="display: none;"></span>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                </div>
                    
                <div class="action-block">
                    <button class="btn-primary">Comprar Agora</button>
                </div>
            </div>
        </section>

        <section class="block full-desc-block">
            <span class="label">Descrição Técnica</span>
            <div class="content">
                {{ product.long_description|linebreaks }}
            </div>
        </section>
    </main>
</div>

{% block scripts %}
    <script src="{% static 'assets/js/product_detail.js' %}?v=1.1"></script>
{% endblock %}

{% endblock %}