<article class="product-card">
    <div class="product-image-placeholder">
        {% if product.cover_image %}
            <img src="{{ product.cover_image.url }}" alt="{{ product.name }}">
        {% endif %}
    </div>

    <div class="product-info">
        <h3 class="product-title">{{ product.name|truncatechars:35 }}</h3>
        <p class="product-description">
            {{ product.short_description|truncatechars:70 }}
        </p>

        <div class="product-price-row">
            <span class="price-current">R$ {{ product.marketing_price }}</span>
            {% if product.old_price %}
                <span class="price-old">R$ {{ product.promotional_price }}</span>
            {% endif %}
        </div>
    </div>
</article>