:root {
  --ft-main: 'Poppins', sans-serif;
  --ft-menu: 'Arimo', sans-serif;
  --ft-mono: 'Montserrat', sans-serif;

  --max-header-width: 1440px;

  --cl-ff-title: #272424;
  --cl-ff-text: #3d3d3d;

  --cl-overlay-bg: rgba(0, 0, 0, 0.5);

  --cl-light-bg: hsl(0, 0%, 94%);
  --cl-offwhite: hsl(0, 0%, 88%);

  --cl-red: hsl(0, 100%, 60%);
  --cl-green: hsl(151, 100%, 37%);
  --cl-blue: hsl(202, 100%, 61%);
  --cl-blue-light: hsla(202, 100%, 60%, 0.150);

  --cl-info: hsl(60, 90%, 48%);
  --cl-danger: hsl(5, 83%, 53%);
  --cl-warning: hsl(33, 87%, 58%);
  --cl-success: hsl(106, 96%, 64%);
}