{% load static %}

<div id="address-section" class="address-collapsible">
    <div class="input-row">
        <input type="text" name="zip_code" placeholder="CEP" class="auth-input">
        <input type="text" name="number" placeholder="Número" class="auth-input">
    </div>

    <input type="text" name="street" placeholder="Rua" class="auth-input">
    <input type="text" name="neighborhood" placeholder="Bairro" class="auth-input">
    <input type="text" name="city" placeholder="Cidade" class="auth-input">

    <div class="input-row">
        <select name="state" class="auth-input">
            <option value="" disabled selected>Estado</option>
            {% for value, label in states %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>

        <select name="country" class="auth-input">
            <option value="" disabled selected>País</option>
            {% for value, label in countries %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="text" name="complement" placeholder="Complemento" class="auth-input">
</div>