/* arimo-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arimo-v35-latin-regular.woff2') format('woff2');
}
/* arimo-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/arimo-v35-latin-500.woff2') format('woff2'); 
}
/* arimo-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/arimo-v35-latin-600.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

/* poppins-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300italic.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-italic.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v24-latin-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600italic.woff2') format('woff2');
}

/* Reset CSS */
*, ::before, ::after { box-sizing: border-box; }
html { line-height: normal; }
body { margin: 0; }

:root {
  --ft-main: 'Poppins', sans-serif;
  --ft-menu: 'Arimo', sans-serif;
  --ft-mono: 'Montserrat', sans-serif;

  --max-header-width: 1440px;

  --cl-ff-title: #272424;
  --cl-ff-text: #3d3d3d;

  --cl-overlay-bg: rgba(0, 0, 0, 0.5);

  --cl-light-bg: #ebeaea;
  --cl-red: #ff3131;
  --cl-green: #00bf63;
  --cl-blue: #38b6ff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--ft-main);
  background-color: var(--cl-light-bg);
  color: #333;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Tipografia */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--ft-main);
  color: var(--cl-ff-title);
}

footer, .footer-text { font-family: var(--ft-mono); }
nav a, input::placeholder { font-family: var(--ft-menu); }

/* Elementos de Mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Resets de Interação */
input, button, textarea, select { font: inherit; outline: none; }
button { cursor: pointer; border: none; background: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }